<section class="main_page">
<div>
<h1>welcome to music app</h1>

<a class="button" href="<%=new_user_url%>">Sign up!</a>
<a class="button" href="<%=new_session_url%>">Log in!</a>
</div>
</section>
